@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #060b27;
  color: white;
  /* cursor: none; */
}

/* shadow */
.black-shadow {
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.11);
}
.shadow-light {
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.08);
}

.nav-animation {
  animation: navAnimation 2s infinite linear;
}
@keyframes navAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.text-fill-with-gradient {
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
